<% provide(:title, "Home") %>
<div class="center jumbotron">

    <h1>Welcome to the Killer Sharks App</h1>


    <h2>
      This is the home page for the
      <a href="http://www.railstutorial.org/">All Sharks</a>
      to come and smash in.
    </h2>
     <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div><br>

<%= image_tag("https://media.giphy.com/media/AxlEMZ8HQxPbO/giphy.gif") %>